<header>
	<h1>Welcome to shine <%= current_user.email %></h1>
	<h2>We're using rails <%= Rails.version %></h2>
	<%= link_to 'Desconextar', destroy_user_session_path, method: :delete %>
</header>
<section>
	<p>FUTURE HOME OF DASHBOARD</p>
</section>